.sidebar{
    height: 100vh;
    border-right: 1px solid #999;
    position: absolute;
    width: 275px;
    z-index: 99;
    left: -500px;
}
.sidebar_enable{
    left: 0;
}

.sidebar_header{
    border-bottom: 1px solid #999;
}



@media screen and (min-width:1048px){
    .sidebar{
      position: static;
      width: 100%;
    }
  }